name: Renovate

on:
  schedule:
    - cron: '0 0 */2 * *'

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Self hosted Renovate
        uses: renovatebot/github-action@v31.81.0
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
